* {
  font-family: "Noto Sans CJK KR Regular";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(253, 246, 227, 0.7);
  /* Solarized base3 with increased transparency */
  color: #657b83;
  /* Solarized base00 */
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin: 2px;
  padding: 0 8px;
  background-color: rgba(238, 232, 213, 0.8);
  /* Solarized base2 with transparency */
  font-size: 14px;
  font-weight: bold;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  border-top: 2px solid #268bd2;
  /* Solarized blue */
}

#workspaces button {
  padding: 0 4px;
  color: #657b83;
  /* Solarized base00 */
}

#workspaces button.focused {
  background-color: rgba(238, 232, 213, 0.8);
  /* Solarized base2 with transparency */
  color: #268bd2;
  /* Solarized blue */
  border-top: 2px solid #268bd2;
  /* Solarized blue */
}

#workspaces button.urgent {
  background-color: #dc322f;
  /* Solarized red */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#tray,
#idle_inhibitor,
#scratchpad,
#mpd {
  /* margin: 2px; */
  padding: 6px;
  background-color: rgba(238, 232, 213, 0.8);
  /* Solarized base2 without transparency */
  color: #657b83;
  /* Solarized base00 */
}

#tray {
  background-color: #eee8d5;
  /* Solarized base2 (solid) */
}

#clock {
  font-size: 14px;
  font-weight: bold;
}

#battery.charging,
#battery.plugged {
  color: #657b83;
  /* Solarized base00 */
  background-color: #c8d192;
  /* Solarized green */
}

@keyframes blink {
  to {
    background-color: #657b83;
    /* Solarized base00 */
    color: #fdf6e3;
    /* Solarized base3 */
  }
}

#battery.critical:not(.charging) {
  background-color: #dc322f;
  /* Solarized red */
  color: #fdf6e3;
  /* Solarized base3 */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #dc322f;
  /* Solarized red */
}

#temperature.critical {
  background-color: #dc322f;
  /* Solarized red */
}

#idle_inhibitor.activated {
  background-color: #2aa198;
  /* Solarized cyan */
  color: #fdf6e3;
  /* Solarized base3 */
}

#tray>.active:hover {
  background-color: #ffffff;
  /* Solarized base2 (solid) */
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #dc322f;
  /* Solarized red */
}