import:
 - ~/.config/alacritty/alacritty-theme-master/themes/solarized_light.yaml

# Any items in the `env` entry below will be added as
# environment variables. Some entries may override variables
# set by alacritty itself.
env:
  # TERM variable
  #
  # This value is used to set the `$TERM` environment variable for
  # each instance of Alacritty. If it is not present, alacritty will
  # check the local terminfo database and use `alacritty` if it is
  # available, otherwise `xterm-256color` is used.
  # NKIT_NOTE: make sure you installed alacritty using package manager
  #   So you get correct terminfo, and you won't need to set this manually
  #TERM: alacritty


  # otherwise doesn't shows the pipe, block, underscore cursor
  # for fish keybindings
  XTERM_VERSION: "9999"

window:
  decorations: full

scrolling:
  # Maximum number of lines in the scrollback buffer.
  # Specifying '0' will disable scrolling.
  history: 10000

  # Scrolling distance multiplier.
  #multiplier: 3

# Font configuration
font:
  size: {{ .alacritty.font_size }}
  # Normal (roman) font face
  normal:
    # Font family
    #
    # Default:
    #   - (macOS) Menlo
    #   - (Linux/BSD) monospace
    #   - (Windows) Consolas
    # family: "MonoLisa, MonoLisa-Thin"
    # family: "MonoLisa"
    # family: "FiraCode"
    family: {{ .alacritty.font_family | quote }}

